<%=render 'home/header'%>

<body id="page-top">

<%=render 'home/nav_bar'%>

    <header class = "main">
        <div class="header-content-main">
            <div class="header-content-inner-main">
            </div>
        </div>
    </header>

<h2 class = "subject">New Stastistic</h2>

<%= render 'form' %>

<%=render 'home/footer'%>

</body>

</html>
