<%= link_to 'Back to Leagues', leagues_path %>
<%= link_to 'Back to ' "#{@league.name}", league_path(@league)%>

<h2>Edit Team Standings</h2>

<%= render 'form' %>

<%= link_to 'Back', league_standings_path %>
