<%=render 'header'%>

<body id="page-top">


    <header>
        <div class="header-content">
            <div class="header-content-inner">
                <h1>PuckDrop</h1>
                <hr>
                <p class = "headerp">Create a league with your friends and track standings, statistics, league leaders and more.</p>
                <a href="/leagues" class="btn btn-primary btn-xl page-scroll">View all Leagues</a>
            </div>
        </div>
    </header>

    <!-- <section class="bg-primary" id="about">
        <div class="container">
            <div class="row">
                <div class="col-lg-8 col-lg-offset-2 text-center">
                    <h2 class="section-heading">The game starts here!</h2>
                    <hr class="light">
                    <a href="/leagues/new" class="btn btn-default btn-xl">Create League</a>
                </div>
            </div>
        </div>
    </section>

<%=render 'footer'%> -->

</body>

</html>
